@use '../mixins.scss' as mixins;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 8px;
  @include mixins.smooth-transition(all);

  &__icon {
    color: var(--secondary-color);
    @include mixins.smooth-transition(all);
  }

  &--primary {
    height: 40px;
    color: white;
    background-color: var(--accent-color);
    padding: 0 16px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    }
  }

  &--secondary {
    border: 1px solid var(--icons-color);

    &:hover {
      border-color: var(--primary-color);
    }
  }
}
