.nav {
  font-family: var(--font-bold);
  text-transform: uppercase;
  font-size: 0.875rem;
  color: var(--secondary-color);

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    transition: color 300ms ease;

    &:hover {
      color: var(--primary-color);
    }
  }
}
